name: Terraform Deploy

on:
  push:
    branches:
      - dev
      - staging
      - main

  workflow_dispatch:
    inputs:
      environment:
        description: "Ambiente a desplegar"
        required: true
        type: choice
        options:
          - dev
          - staging
          - prod

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: us-east-1

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Set Environment Variables
        run: |
          if [ "${GITHUB_EVENT_NAME}" = "push" ]; then
            if [ "${GITHUB_REF_NAME}" = "dev" ]; then
              ENV=dev
            elif [ "${GITHUB_REF_NAME}" = "staging" ]; then
              ENV=staging
            else
              ENV=prod
            fi
          else
            ENV="${{ github.event.inputs.environment }}"
          fi

          echo "WORKSPACE=$ENV" >> $GITHUB_ENV
          echo "TFVARS=env/$ENV.tfvars" >> $GITHUB_ENV

      - name: Terraform Init
        run: terraform init -reconfigure

      - name: Select or Create Workspace
        run: |
          terraform workspace select "$WORKSPACE" \
          || terraform workspace new "$WORKSPACE"

      - name: Terraform Plan
        run: terraform plan -var-file="$TFVARS"

      - name: Terraform Apply
        run: terraform apply -auto-approve -var-file="$TFVARS"
